@use "@styles/breakpoints";

.container {
	width: 100%;
	padding: 0 40px 40px;

	@include breakpoints.xl {
		max-width: 1770px;

		padding: 0 5px 80px;
	}

	@include breakpoints.lg {
		max-width: 1440px;
	}

	@include breakpoints.md {
		max-width: 1024px;

		padding: 0 30px 30px;
	}

	@include breakpoints.sm {
		max-width: 768px;
	}

	@include breakpoints.xs {
		width: 360px;

		padding: 0 20px 20px;
	}
}
