@use "@styles/breakpoints";
@import "@styles/base";

.header {
	display: flex;
	justify-content: center;

	position: relative;
	top: 0;
	width: 100%;

	z-index: 2;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 30px 40px !important;

	@include breakpoints.xl {
		padding: 40px 5px !important;
	}

	@include breakpoints.md {
		padding: 30px !important;
	}

	@include breakpoints.sm {
		padding: 40px !important;
	}

	@include breakpoints.xs {
		padding: 20px !important;
	}
}

.header::before {
	content: "";

	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100vw;

	margin-left: 0;

	background-color: rgba($background-color, 80%);
	backdrop-filter: blur(100px);

	z-index: -1;
}

.logotype {
	display: flex;

	position: absolute;
	left: 50%;

	margin-top: -4px;

	transform: translateX(-77px);

	@include breakpoints.xl {
		transform: translateX(-93px);
	}

	@include breakpoints.xs {
		margin-top: -8px;
	}

	& img {
		width: auto;

		@include breakpoints.lg {
			height: 25px;
		}

		@include breakpoints.md {
			height: 25px;
		}

		@include breakpoints.sm {
			height: 25px;
		}

		@include breakpoints.xs {
			height: 21px;
		}
	}
}

.nav,
.phone {
	display: inline-flex;
	align-items: center;

	font-size: 14px;
	font-weight: 600;

	@include breakpoints.xl {
		gap: 43px;
	}

	@include breakpoints.lg {
		gap: 40px;
	}

	@include breakpoints.md {
		gap: 25px;
	}

	@include breakpoints.sm {
		gap: 62px;
	}
}

.select,
.phone {
	@include breakpoints.sm {
		display: none;
	}

	@include breakpoints.xs {
		display: none;
	}
}

.selectMobile {
	display: none;

	@include breakpoints.sm {
		display: inline-block;
	}
}

.phoneMobile {
	display: none;
	align-items: center;
	justify-content: center;

	height: 42px;
	width: 42px;

	border: 1px solid #d7d7d7;
	border-radius: 50%;

	transition: 0.3s ease;
	transition-property: background-color, border-color;

	&:hover {
		background-color: $theme-color;
		border-color: $theme-color;

		& img {
			filter: invert(100%);
		}
	}

	@include breakpoints.xs {
		display: inline-flex;
	}
}

.phoneTablet {
	display: none;

	@include breakpoints.sm {
		display: inline-flex;
	}
}
