@use "@styles/breakpoints";
@import "@styles/base";

.header {
	display: flex;
	justify-content: center;

	position: sticky;
	top: 0;
	width: 100%;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 30px 40px;
}

.header::before {
	content: "";

	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100vw;

	margin-left: 0;

	background-color: rgba($background-color, 80%);
	backdrop-filter: blur(100px);

	z-index: -1;
}

.logotype {
	position: absolute;
	left: 50%;
	margin-top: -2px;
	transform: translateX(-93px);
}

.nav,
.phone {
	display: inline-flex;
	align-items: center;

	font-size: 14px;
	font-weight: 600;

	@include breakpoints.xl {
		gap: 43px;
	}

	@include breakpoints.lg {
		gap: 40px;
	}

	@include breakpoints.md {
		gap: 25px;
	}

	@include breakpoints.sm {
		gap: 62px;
	}
}
