@import "@styles/base";

.button {
	display: inline-flex;
	align-items: center;

	position: relative;

	font-weight: 600;
	letter-spacing: 0.07em;
	text-transform: uppercase;

	overflow: hidden;

	transition: opacity 0.3s ease;
}

.buttonPrimary {
	background-color: $theme-color;

	border-radius: 100px;

	color: $background-color;
}

.buttonSecondary {
	background-color: transparent;

	color: $theme-color;
}

.buttonClose {
	height: 34px;
	width: 34px;

	border-radius: 50%;

	&::before,
	&::after {
		content: "";

		position: absolute;
		left: 4px;
		top: 0;
		right: 4px;

		height: 2px;

		transform-origin: 50% 50%;
	}

	&::before {
		transform: translateY(16px) rotate(45deg);
	}

	&::after {
		transform: translateY(16px) rotate(-45deg);
	}
}

.children {
	display: flex;
	flex-direction: column;

	transform-origin: 100% 50%;
	transform: translate3d(0, 0, 0);
	transition: transform 0.3s ease-out;
}

.clone {
	position: absolute;
	top: 100%;
}

.noOpacity {
	opacity: 1 !important;
}

.hovered {
	opacity: 0.7;

	& .children {
		transform: translate3d(0, -100%, 0);
	}
}
