@use "@styles/breakpoints";

.main {
	display: flex;
	flex-direction: column;

	width: 100%;

	@include breakpoints.xl {
		gap: 162px;
	}

	@include breakpoints.lg {
		gap: 110px;
	}

	@include breakpoints.md {
		gap: 126px;
	}

	@include breakpoints.sm {
		gap: 89.65px;
	}

	@include breakpoints.xs {
		gap: 55.14px;
	}
}
