@use "@styles/breakpoints";
@import "@styles/base";

.screen1 {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: space-between;
	gap: 40px;
}

.picture1 {
	display: flex;

	overflow: hidden;

	@include breakpoints.xl {
		height: 100px;
		width: 100px;
	}

	@include breakpoints.lg {
		justify-content: flex-end;

		height: 506px;
		width: 1360px;
	}

	@include breakpoints.md {
		height: 100px;
		width: 100px;
	}

	@include breakpoints.sm {
		height: 100px;
		width: 100px;
	}
}

.picture1 > img {
	@include breakpoints.xl {
		width: 100px;
	}

	@include breakpoints.lg {
		height: 868px;
		width: 1389px;

		margin-top: -168px;
	}

	@include breakpoints.md {
		width: 100px;
	}

	@include breakpoints.sm {
		width: 100px;
	}
}

.description {
	width: 349px;

	color: $theme-color;
	font-size: 26px;
	font-weight: 400;
	line-height: 140%;
	text-transform: uppercase;
}
